/*
	================================================
	CSS home stylesheet
	================================================
	Handcrafted by Chris Teelon
	
	Last updated on 09/27/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
    05  Media Queries
	================================================
	*/

    /* 1 Color */

html{
    background-color: hsla(190, 82%, 40%, 0.5);
    padding: 5%;
  }

  /* 2 Typography */

  /* 3 Layout */
div.Assignment{
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	background-color: hsl(46, 100%, 76%);
}

div.Introduction{
	float: left;
	width: 60%;
}

img{
	float: right;
	width: 30%;
	height: 200px;
}

  /* 4 Other Decorations */

  /* 5 Media Queries */

