/* 
    CSS Stylesheet for realestate.html
    Written By Chris Teelon
    Last updated on: 10/30/2020
*/

#loanamount{
    position: absolute;
    top: 40px;
    right: 45px;
}

#intRate{
    position: absolute;
    top: 140px;
    right: 40px;
}

#Term{
    position: absolute;
    top: 240px;
    right: 20px;
}

#Time{
    position: absolute;
    bottom: 110px;
}

table{
    background-color: rgba(100, 89, 77, 0.9);
    color: #fff;
    width: 600px;
}

table tr th, td:nth-child(1){
    background-color: rgba(160, 106, 48);
}


#monthlypay{
    color: #fff;
    font-size: large;
}

table *{
    border: 2px solid black;
    padding: 3px;
    text-align: center;
    font-size: large;
}

#finput{
    color: #fff;
}

#inputarea{
    position: absolute;
    top: 20%;
    right: 20%;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 50px 20px;
    border: 10px solid  rgba(160, 106, 48);
}

#inputarea{  /*Color*/
    background-color: rgba(100, 89, 77, 0.9);
}

button{
    position: absolute;
    padding:10px;
    border:none;
    background-color:rgba(160, 106, 48);
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:90%;
    bottom: 30px;
    left: 23px;
}

button:hover{
border: 2px solid #fff;
}

input{
    width: 300px;
    height: 50px;
    font-size: 150%;
}

input:hover{
    border: 4px solid rgba(160, 106, 48);
}

label{
    font-size: 120%;
}

select{
    width: 150px;
    height: 30px;
}

select:hover{
border: 4px solid rgba(160, 106, 48);
}

body{
    background-image: url(../img/realestate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}